<h2>転倒転落アセスメントスコア<%= @tentou.id %></h2>
    <p>患者ＩＤ：<%= @tentou.patient_id %></p>
    <p>記載日：<%= @tentou.kisaibi %></p>
  <div class="row">
    <div class="col-sm-6">
<table class="table table-bordered table-condensed table-hover" style="table-layout:fixed;width:100%;">

  <tr>
   <td style="width:28%" class="text-left">年齢</td>
   <td style="width:58%" class="text-left">70歳以上である</td> 
   <td style="width:10%" class="text-center"><%= @tentou.age %></td> 
  </tr>
  <tr>
   <td class="text-left">既住歴</td>
   <td class="text-left">転倒・転落したことがある</td> 
   <td class="text-center"><%= @tentou.kiou %></td> 
  </tr>

<tr>
<td rowspan="3">活動領域</td>
<td>筋力低下あり</td>
<td rowspan="3" class="text-center"><%= @tentou.katudou %></td>
</tr>
<tr>
<td>車椅子・杖・歩行器を使用している</td>
</tr>
<tr>
<td>ふらつきあり（バランスを崩しやすい）</td>
</tr>

<tr>
<td rowspan="4">認識力</td>
<td>不穏行動がある</td>
<td rowspan="4" class="text-center"><%= @tentou.ninsiki %></td>
</tr>
<tr>
<td>自立心が強い</td>
</tr>
<tr>
<td>理解力・記憶力の低下がある</td>
</tr>
<tr>
<td>何でもできると自分を過大評価する</td>
</tr>

<tr>
<td rowspan="3">排泄</td>
<td>排泄時見守りが必要</td>
<td rowspan="3" class="text-center"><%= @tentou.haisetu %></td>
</tr>
<tr>
<td>排泄介助が必要</td>
</tr>
<tr>
<td>夜間トイレに行く</td>
</tr>

  <tr>
   <td  rowspan="5" class="text-left">薬剤</td>
   <td class="text-left">麻薬使用中</td> 
   <td class="text-center"><%= @tentou.med1 %></td> 
  </tr>
  <tr>
   <td class="text-left">抗精神薬服用中</td> 
   <td class="text-center"><%= @tentou.med2 %></td> 
  </tr>
  <tr>
   <td class="text-left">下剤服用中</td> 
   <td class="text-center"><%= @tentou.med3 %></td> 
  </tr>
  <tr>
   <td class="text-left">睡眠安定剤服用中 </td> 
   <td class="text-center"><%= @tentou.med4 %></td> 
  </tr>
  <tr>
   <td class="text-left">降圧利尿剤服用中</td> 
   <td class="text-center"><%= @tentou.med5 %></td> 
  </tr>

  <tr>
   <td  rowspan="2" class="text-left">環境</td>
   <td class="text-left">転科・転棟・転室をした</td> 
   <td class="text-center"><%= @tentou.kankyo1 %></td> 
  </tr>
  <tr>
   <td class="text-left">点滴・酸素吸入をしている</td> 
   <td class="text-center"><%= @tentou.kankyo2 %></td> 
  </tr>

<tr>
<td colspan="2" class="text-center">合計</td>
<td class="text-center"><%= @tentou.goukei %></td>
</tr>
<tr>
<td colspan="2" class="text-center">危険度</td>
<% if @tentou.goukei < 5 %>
<td class="success text-center">Ⅰ</td>
<% elsif @tentou.goukei > 15 %>
<td class="danger text-center">Ⅲ</td>
<% else %>
<td class="warning text-center">Ⅱ</td>
<% end %>
</tr>

<tr>
<td class="text-left">予防策</td>
<td colspan="2" class="text-left"><%= @tentou.yobou %></td>
</tr>

<tr>
<td colspan="3" class="success text-left">危険度Ⅰ（0－4点）転倒を越す可能性がある</td>
</tr>
<tr>
<td colspan="3" class="warning text-left">危険度Ⅱ（5-15点）転倒を起こしやすい</td>
</tr>
<tr>
<td colspan="3" class="danger text-left">危険度Ⅲ（16点以上）転倒をよく起こす</td>
</tr>





</table>






</div>
</div>

<%= link_to '一覧に戻る', tentous_path %>
<%= link_to '編集', edit_tentou_path(@tentou) %>
<%= link_to '削除', @tentou, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>
