<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<div class="col-sm-12">
<div class="bs-docs-header" id="content">
<div class="container">

<div class="row">
  <div class="col-md-2"><h2><ruby><rb><%= @patient.p_name %><rt><%= @patient.p_kana %></ruby></h2></div>

<% if @patient.gender == '男' %>
<div class="col-sm-1"><br><img border="0" src="../images/men1.png" width="60" height="60" alt="男性" title="男性"></div>
<% else %>
<div class="col-sm-1"><br><img border="0" src="../images/women1.png" width="60" height="60" alt="女性" title="女性"></div>
<% end %>

  <div class="col-md-4"><h3>生年月日：<%= @patient.birth_date.strftime('%Y年%m月%d日') %></h3></div>
  <div class="col-md-2"><h3>年齢：<%= @patient.age %>歳</h3></div>
<div class="col-sm-6"><h4>感染症：<%= @patient.infection %>&emsp;
アレルギー：<%= @patient.allergic %></h4></div>
</div>

<div class="row">
  <div class="col-md-3"><h4>入院日:<%= @patient.hos_date.strftime('%Y年%m月%d日 %H:%M') %></h4></div>
  <div class="col-md-2"><h4>部屋番号：<%= @patient.room_no %></h4></div>
  <div class="col-md-5"><h4>血液型：<%= @patient.bloodtype %>型&emsp;&emsp;身長：<%= @patient.height %>cm&emsp;体重：<%= @patient.weight %>kg
</h4></div>
</div>

</div></div>
</div>


<script type="text/javascript">
var vs01 = new Array();
var vs02 = new Array();
var vs03 = new Array();
var vs04 = new Array();
var vs05 = new Array();

<% @taions.each do |taion| %>
    vs01.push(<%= taion.n_1d %>);
    vs01.push(<%= taion.j_1d %>);
    vs01.push(<%= taion.s_2d %>);
    vs01.push(<%= taion.n_2d %>);
    vs01.push(<%= taion.j_2d %>);
    vs01.push(<%= taion.s_3d %>);
    vs01.push(<%= taion.n_3d %>);
    vs01.push(<%= taion.j_3d %>);
    vs01.push(<%= taion.s_4d %>);
<%end%>
<% @myakus.each do |myaku| %>
    vs02.push(<%= myaku.n_1d %>);
    vs02.push(<%= myaku.j_1d %>);
    vs02.push(<%= myaku.s_2d %>);
    vs02.push(<%= myaku.n_2d %>);
    vs02.push(<%= myaku.j_2d %>);
    vs02.push(<%= myaku.s_3d %>);
    vs02.push(<%= myaku.n_3d %>);
    vs02.push(<%= myaku.j_3d %>);
    vs02.push(<%= myaku.s_4d %>);
<%end%>
<% @bpus.each do |bpu| %>
    vs03.push(<%= bpu.n_1d %>);
    vs03.push(<%= bpu.j_1d %>);
    vs03.push(<%= bpu.s_2d %>);
    vs03.push(<%= bpu.n_2d %>);
    vs03.push(<%= bpu.j_2d %>);
    vs03.push(<%= bpu.s_3d %>);
    vs03.push(<%= bpu.n_3d %>);
    vs03.push(<%= bpu.j_3d %>);
    vs03.push(<%= bpu.s_4d %>);
<%end%>
<% @bpds.each do |bpd| %>
    vs04.push(<%= bpd.n_1d %>);
    vs04.push(<%= bpd.j_1d %>);
    vs04.push(<%= bpd.s_2d %>);
    vs04.push(<%= bpd.n_2d %>);
    vs04.push(<%= bpd.j_2d %>);
    vs04.push(<%= bpd.s_3d %>);
    vs04.push(<%= bpd.n_3d %>);
    vs04.push(<%= bpd.j_3d %>);
    vs04.push(<%= bpd.s_4d %>);
<%end%>
<% @kokyus.each do |kokyu| %>
    vs05.push(<%= kokyu.n_1d %>);
    vs05.push(<%= kokyu.j_1d %>);
    vs05.push(<%= kokyu.s_2d %>);
    vs05.push(<%= kokyu.n_2d %>);
    vs05.push(<%= kokyu.j_2d %>);
    vs05.push(<%= kokyu.s_3d %>);
    vs05.push(<%= kokyu.n_3d %>);
    vs05.push(<%= kokyu.j_3d %>);
    vs05.push(<%= kokyu.s_4d %>);
<%end%>

</script>



<div class="col-sm-10">
<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto;"></div>

<script>
Highcharts.setOptions({
    colors: ['#1E90FF', '#FF69B4', '#32CD32', '#32CD32', '#708090']
});

Highcharts.chart('container', {
    chart: {
        backgroundColor: '#FCFFC5',
        zoomType: 'xy'
    },

    title: {
        text: ''
    },
    subtitle: {
        text: ''
    },
    xAxis: [{
        categories: ['日勤', '準夜', '深夜', '日勤', '準夜',
            '深夜', '日勤', '準夜', '深夜'],
        crosshair: true
    }],
    
    plotOptions: {
        series: {
            marker: {
                radius: 5,
                
            }
        }
    },
    
    yAxis: [{ // Primary yAxis
        labels: {
            format: '',
            style: {
                color: Highcharts.getOptions().colors[4]
            }
        },
        
        title: {
            text: '',
            style: {
                color: Highcharts.getOptions().colors[4]
            }
        },
               tickInterval: 5,
                min: 0

    }, { // Secondary yAxis
        gridLineWidth: 0,
min:35, //y軸最小値
max:40, //y軸最大値
        title: {
            text: '',
            style: {
                color: Highcharts.getOptions().colors[0]
            }
        },
        labels: {
            format: '',
            style: {
                color: Highcharts.getOptions().colors[0]
            }
        }



    }, { // 3 yAxis
        gridLineWidth: 0,
        title: {
            text: '',
            style: {
                color: Highcharts.getOptions().colors[1]
            }
        },
        labels: {
            format: '',
            style: {
                color: Highcharts.getOptions().colors[1]
            }
        },
               tickInterval: 40,
                min: 0


    }, { // 4 yAxis
        gridLineWidth: 0,
        title: {
            text: '',
            style: {
                color: Highcharts.getOptions().colors[3]
            }
        },
        labels: {
            format: '',
            style: {
                color: Highcharts.getOptions().colors[3]
            }
            
        },
               tickInterval: 40,
                min: 0





    }],
    tooltip: {
        shared: true
    },
    legend: {
                align: 'left',
                verticalAlign: 'top',
                borderWidth: 0
    },
    series: [{
        name: '体温',
        yAxis: 1,
        data : vs01,
        legendIndex: 4,
        tooltip: {
            valueSuffix: ''
        }

    }, {
        name: '脈拍',
        yAxis: 2,
        data : vs02,
        legendIndex: 3,
        dashStyle: 'ShortDash',
        tooltip: {
            valueSuffix: ''
        }

    }, {
        name: '収縮期血圧',
        yAxis: 3,
        marker: {
            symbol: 'triangle'
        },
        type: 'line',
        data : vs03,
        legendIndex: 1,
        dashStyle: 'Dot',
        tooltip: {
            valueSuffix: ''
        }

    }, {
        name: '拡張期血圧',
        yAxis: 3,
        marker: {
            symbol: 'triangle'
        },
        type: 'line',
        data : vs04,
        legendIndex: 2,
        dashStyle: 'Dot',
        tooltip: {
            valueSuffix: ''
        }

    }, {
        name: '呼吸',
        yAxis: 0,
        marker: {
            symbol: 'square'
        },
        data : vs05,
        legendIndex: 5,
        tooltip: {
            valueSuffix: ''
        },
        dashStyle: 'shortdot'


    }]
,
    responsive: {
        rules: [{
            condition: {
                maxWidth: 500
            },
            chartOptions: {
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                }
            }
        }]
    }

});

</script>



<table class="table table-striped table-bordered table-condensed table-hover" style="table-layout:fixed;width:100%;">
  <tr class="success">
   <th colspan="2" style="width:15%" class="text-right">日付</th>
   <th colspan="3" style="width:28%" class="text-center">00/00</th>
   <th colspan="3" style="width:28%" class="text-center">00/00</th> 
   <th colspan="3" style="width:29%" class="text-center">00/00</th> 

  </tr>

  <tr class="success">
   <th colspan="2" style="width:15%" class="text-right">時間</th>
   <th style="width:9%" class="text-center">日勤</th> 
   <th style="width:9%" class="text-center">準夜</th> 
   <th style="width:9%" class="text-center">深夜</th>
   <th style="width:9%" class="text-center">日勤</th> 
   <th style="width:9%" class="text-center">準夜</th> 
   <th style="width:9%" class="text-center">深夜</th>
   <th style="width:9%" class="text-center">日勤</th> 
   <th style="width:9%" class="text-center">準夜</th> 
   <th style="width:9%" class="text-center">深夜</th>
 </tr>

<% @kansatus.each do |kansatu| %>
  <% unless kansatu.category == 'バイタル' %>
  <tr>
   <th style="width:3%" class="text-center success" ><%= kansatu.category %></th>
   <th style="width:12%" class="text-right success"><%= kansatu.ob_name %></th>
   <td style="word-wrap:break-word;"><%= kansatu.n_1d %></td>
   <td style="word-wrap:break-word;"><%= kansatu.j_1d %></td> 
   <td style="word-wrap:break-word;"><%= kansatu.s_2d %></td> 
   <td style="word-wrap:break-word;"><%= kansatu.n_2d %></td>
   <td style="word-wrap:break-word;"><%= kansatu.j_2d %></td> 
   <td style="word-wrap:break-word;"><%= kansatu.s_3d %></td> 
   <td style="word-wrap:break-word;"><%= kansatu.n_3d %></td>
   <td style="word-wrap:break-word;"><%= kansatu.j_3d %></td> 
   <td style="word-wrap:break-word;"><%= kansatu.s_4d %></td> 
  </tr>
  <% end %>
<% end %>

</table>
<%= link_to '一覧', graphs_path %>


</div>

<div class="row col-sm-2">
<%= render 'layouts/sidebar' %>
</div>





