<div class="col-sm-12">
<div class="bs-docs-header" id="content">
</div>
</div>
<h1>アンケート集計</h1>


<button class="btn btn-primary" type="button">
  参加人数 <span class="badge"><%= @count_users %></span>
</button>

  <% if current_user.admin? %>
<div class="row"><div class="col-md-6">
<table class="table table-condensed">
  <tr>
   <th class="text-left">name</th> 
   <th class="text-left">所属</th> 
   <th class="text-left">アンケート</th> 
   <th class="text-left"></th>
  </tr>

  <% @users.each do |user| %>
  <tr>
   <td style="word-wrap:break-word;"><%= link_to user.name, user %></td>
   <td style="word-wrap:break-word;"><%= user.section %></td> 
   <td style="word-wrap:break-word;"><h4><span class="label label-primary">未</span></h4></td> 
   <td style="word-wrap:break-word;">
    <%= link_to '退会', user, method: :delete, data: { confirm: '本当に退会してよろしいですか？' } %>
   </td>

  </tr>

  <% end %>
</table>
<%= paginate @users %>
</div>
  <% end %>