<div class="user-profile">
  <div class="icon text-center">
    <img src="<%= gravatar_url(@user, size: 100) %>" alt="" class="img-circle">
  </div>
  <div class="name text-center">
    <h1><%= @user.name %></h1>
    <%= link_to 'グラフ', graphs_path, class: 'btn btn-success btn-lg' %>
    <%= link_to '患者', patients_path, class: 'btn btn-success btn-lg' %>
    <%= link_to '観察', kansatus_path, class: 'btn btn-success btn-lg' %>
    <%= link_to '転倒', tentous_path, class: 'btn btn-success btn-lg' %>

  </div>
  
</div>
<%= render 'layouts/footer' %>